<div
  *mobxReaction="participantLoaded.bind(this)"
  style="flex: 1;"
  class="primary"
>
  <div style="padding: 1em;" *ngIf="participant">
    <precise-profile-summary
      [participant]="participant"
      [participantRevisions]="participantRevisions"
      (shouldUpdate)="handleProfileUpdate($event)"
      [profileConfirmed]="profileConfirmed"
    ></precise-profile-summary>

    <!-- Sections -->
    <div
      @fadeEntryExit
      *ngIf="profileConfirmed && participantCollatedData"
      style="margin-top: 2em;"
    >
      <precise-sections-summary
        [participantForms]="forms"
      ></precise-sections-summary>
    </div>
  </div>
</div>
