<div
  *mobxReaction="participantUpdated.bind(this)"
  style="flex: 1;"
  class="primary"
>
  <div
    style="padding: 1em;"
    *ngIf="store.listDataLoaded && store.participantDataLoaded"
  >
    <div id="participantMenu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" backdropClass="backdrop-dark">
        <button
          mat-menu-item
          class="participant-menu-button"
          (click)="store.withdrawParticipant()"
        >
          <mat-icon>remove_circle</mat-icon>
          <span>Withdraw Participant</span>
        </button>
      </mat-menu>
    </div>

    <!-- TODO - swap to only one update for all data loaded -->
    <precise-profile-summary
      [participant]="store.activeParticipant"
      [participantRevisions]="participantRevisions"
      (shouldUpdate)="handleProfileUpdate($event)"
      [profileConfirmed]="profileConfirmed"
    ></precise-profile-summary>

    <!-- Sections -->
    <div @fadeEntryExit *ngIf="profileConfirmed && store.participantDataLoaded">
      <precise-sections-summary></precise-sections-summary>
    </div>
  </div>
  <div *ngIf="store.listDataLoaded && !store.activeParticipant">
    Participant not found
  </div>
</div>
