<div *mobxReaction="participantUpdated.bind(this)" class="primary page">
  <div
    style="padding: 1em; flex: 1;"
    *ngIf="store.listDataLoaded && store.participantDataLoaded"
  >
    <div id="participantMenu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" backdropClass="backdrop-dark">
        <button
          mat-menu-item
          class="participant-menu-button"
          (click)="store.withdrawParticipant()"
        >
          <mat-icon>remove_circle</mat-icon>
          <span>Withdraw Participant</span>
        </button>
      </mat-menu>
    </div>

    <mat-accordion multi displayMode="flat">
      <!-- profile section -->
      <mat-expansion-panel
        [expanded]="expandedSections.profile"
        class="no-padding"
      >
        <mat-expansion-panel-header expandedHeight="48px">
          <mat-panel-title
            ><mat-icon>person</mat-icon><span>Profile</span></mat-panel-title
          >
        </mat-expansion-panel-header>
        <precise-profile-summary
          [participant]="store.activeParticipant"
          [participantRevisions]="participantRevisions"
          [profileConfirmed]="profileConfirmed"
        ></precise-profile-summary>
      </mat-expansion-panel>
      <!-- other sections -->
      <ng-container *ngIf="profileConfirmed" @fadeEntryExit>
        <mat-expansion-panel
          *ngFor="let section of sections; let i = index"
          [class]="'no-padding section-tile color-rotate-' + i"
          [attr.data-section]="section.label"
          expanded
        >
          <mat-expansion-panel-header expandedHeight="48px">
            <mat-panel-title
              ><mat-icon
                class="section-icon"
                [svgIcon]="section.icon"
              ></mat-icon>
              <span>{{ section.label }}</span></mat-panel-title
            >
          </mat-expansion-panel-header>
          <precise-section-summary
            [section]="section"
          ></precise-section-summary>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>

    <!-- Add baby section -->
    <section
      class="section-tile"
      id="addBabySection"
      (click)="store.addParticipantBaby()"
      *ngIf="profileConfirmed"
    >
      <mat-icon>add</mat-icon>
      <span>Add Baby</span>
    </section>
    <!-- profile confirmation -->
    <div
      *ngIf="!profileConfirmed && store.participantDataLoaded"
      @fadeEntryExit
    >
      <precise-profile-confirmation></precise-profile-confirmation>
    </div>
  </div>
  <div *ngIf="store.listDataLoaded && !store.activeParticipant">
    Participant not found
  </div>
  <div id="guid" *ngIf="store.activeParticipant">
    {{ store.activeParticipant.f2_guid }}
  </div>
</div>
