td,
th {
  padding: 5px;
}
td.field {
  font-weight: bold;
}
#expansion {
  box-shadow: none;
}
#expansion > mat-expansion-panel-header {
  padding: 0 16px 0 5px;
}
.summary-container {
  color: var(--color-black);
}
.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-title > h1 {
  margin-bottom: 0;
}
mat-grid-tile:hover {
  transform: scale(1.05);
}
mat-grid-tile {
  transition: all 0.2s ease-in-out;
  background: white;
  border: 4px solid;
  border-radius: 8px;
}
mat-grid-tile.disabled {
  transform: none;
  pointer-events: none;
  opacity: 0.5;
}
mat-grid-tile-header > .section-icon {
  margin-right: 10px;
}
.section-details {
  color: var(--color-black);
}

.info-row {
  display: flex;
  padding: 5px;
  align-items: center;
}
