**/node_modules


designer/app/config/tables/*
designer/app/config/assets/build/
designer/app/config/assets/framework/forms/
designer/app/config/assets/csv
designer/app/config/assets/tables.init
designer/app/config/assets/app.properties
designer/app/output/*
forms/framework.xlsx
forms/~$framework.xlsx
forms/tables/*
!forms/tables/config
!forms/tables/exampleTable
forms/csv/*
!forms/csv/tables.sample.init
forms/*.properties
!forms/app.sample.properties

!*.gitkeep


.env
frontend/src/assets/odk

# avoid use of yarn, prefer npm
**/yarn.lock
