<div class="page">
  <!-- Participant Search -->
  <div style="display: flex; margin: 5px; flex-wrap: wrap">
    <mat-form-field style="flex: 1; margin-left: 1em">
      <mat-label color="primary">Search id, phone or name</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" />
    </mat-form-field>
  </div>

  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Dyad enrollment column -->
    <ng-container matColumnDef="d1_enroll_consent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Dyad Consent</th>
      <td
        mat-cell
        *matCellDef="let row"
        style="width: 100px; font-weight: bold"
        (click)="handleRowClicked(row)"
      >
        <div *ngIf="row['d1_enroll_consent']">
          <div style="text-align: center">
            {{ row.d1_enroll_consent === "1" | boolIcon }}
          </div>
        </div>
      </td>
    </ng-container>
    <!-- PTID Column -->
    <ng-container matColumnDef="f2a_participant_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Participant ID</th>
      <td
        mat-cell
        *matCellDef="let row"
        style="width: 100px; font-weight: bold"
        (click)="handleRowClicked(row)"
      >
        {{ row["f2a_participant_id"] }}
      </td>
    </ng-container>
    <!-- Name column -->
    <ng-container matColumnDef="f2a_full_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row" (click)="handleRowClicked(row)">
        {{ row["f2a_full_name"] }}
      </td>
    </ng-container>
    <!-- Additional info Column -->
    <ng-container matColumnDef="f2_guid">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row" (click)="handleRowClicked(row)">
        <div class="info-row">
          <mat-icon>folder_shared</mat-icon>
          <div>{{ row["f2a_national_id"] }}</div>
        </div>
        <div class="info-row">
          <mat-icon>phone</mat-icon>
          <div>
            <div>
              {{ row["f2a_phone_number"] }}
            </div>
            <div>
              {{ row["f2a_phone_number_2"] }}
            </div>
          </div>
        </div>
      </td>
    </ng-container>
    <!-- header -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  <!-- device id -->
  <div id="deviceId" *ngIf="deviceFormService.activeDevice">
    Device ID: {{ deviceFormService.activeDevice.device_id }}
  </div>
</div>
