.mat-form-field {
  font-size: 14px;
  width: 100%;
}
td,
th {
  padding: 5px 10px !important;
}

.info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-row > mat-icon {
  margin-right: 10px;
}
tr {
  cursor: pointer;
}
tr.mat-header-row {
  cursor: unset;
}
.mat-row:hover {
  background-color: #efefef;
}
