<div *mobxReaction="participantUpdated.bind(this)" class="primary page">
  <div
    style="padding: 1em; flex: 1"
    *ngIf="store.listDataLoaded && store.participantDataLoaded && sections"
  >
    <div id="participantMenu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" backdropClass="backdrop-dark">
        <button
          mat-menu-item
          class="participant-menu-button"
          (click)="store.withdrawParticipant()"
        >
          <mat-icon>remove_circle</mat-icon>
          <span>Withdraw Participant</span>
        </button>
      </mat-menu>
    </div>
    <div *ngIf="store.participantFormsHash.Withdrawal.entries[0] as w">
      <div
        *ngIf="
          w.fw_withdraw_from_study === '1' || w.fw_lost_to_followup === '1'
        "
        class="withdrawal-message"
      >
        <mat-icon style="margin-right: 10px">exit_to_app</mat-icon>
        <div>
          <span *ngIf="w.fw_withdraw_from_study === '1'"
            >Participant Withdrawn
          </span>
          <span *ngIf="w.fw_lost_to_followup === '1'"
            >Participant Lost to Follow-up
          </span>
        </div>
        <button
          mat-stroked-button
          (click)="store.withdrawParticipant()"
          style="margin-left: auto"
        >
          View Form
        </button>
      </div>
    </div>

    <mat-accordion multi displayMode="flat">
      <!-- profile section -->
      <mat-expansion-panel
        [expanded]="expandedSections.profile"
        class="no-padding"
      >
        <mat-expansion-panel-header expandedHeight="48px">
          <mat-panel-title
            ><mat-icon>person</mat-icon><span>Profile</span></mat-panel-title
          >
        </mat-expansion-panel-header>
        <precise-profile-section
          [participant]="store.activeParticipant"
          [participantRevisions]="participantRevisions"
          [profileConfirmed]="profileConfirmed"
        ></precise-profile-section>
      </mat-expansion-panel>

      <div *ngIf="profileConfirmed" [@fadeEntryExit]>
        <!-- Summary Section -->
        <mat-expansion-panel class="no-padding" expanded>
          <mat-expansion-panel-header expandedHeight="48px">
            <mat-panel-title
              ><mat-icon>assignment</mat-icon
              ><span>Summary</span></mat-panel-title
            >
          </mat-expansion-panel-header>
          <app-field-summary-table
            [fieldSummaries]="preciseSummaryFields"
            [participantData]="store.activeParticipantData"
          ></app-field-summary-table>
        </mat-expansion-panel>
        <!-- Precise Visit Section -->
        <mat-expansion-panel
          class="no-padding theme-default primary-inverted color-rotate-1"
        >
          <mat-expansion-panel-header expandedHeight="48px">
            <mat-panel-title style="color: white"
              ><mat-icon svgIcon="visit"></mat-icon>
              <span>Precise Visit</span></mat-panel-title
            >
          </mat-expansion-panel-header>
          <precise-profile-general-section
            [section]="sections.preciseVisitSection"
          ></precise-profile-general-section>
        </mat-expansion-panel>
        <!-- Baby section -->
        <mat-expansion-panel
          class="no-padding theme-default primary-inverted color-rotate-2"
          *ngFor="let babySection of babySections; index as i"
        >
          <mat-expansion-panel-header expandedHeight="48px">
            <mat-panel-title style="color: white"
              ><mat-icon svgIcon="baby"></mat-icon>
              <span>Baby {{ babySection.label }}</span></mat-panel-title
            >
          </mat-expansion-panel-header>
          <precise-profile-baby-section
            [section]="babySection"
          ></precise-profile-baby-section>
        </mat-expansion-panel>

        <!-- TOD - ANC section -->
        <mat-expansion-panel
          class="no-padding theme-default primary-inverted color-rotate-3"
        >
          <mat-expansion-panel-header expandedHeight="48px">
            <mat-panel-title style="color: white"
              ><mat-icon svgIcon="disease"></mat-icon>
              <span>TOD - ANC</span></mat-panel-title
            >
          </mat-expansion-panel-header>
          <precise-profile-general-section
            [section]="sections.todSection"
          ></precise-profile-general-section>
        </mat-expansion-panel>
        <!-- Lab Section -->
        <mat-expansion-panel
          class="no-padding theme-default primary-inverted color-rotate-4"
        >
          <mat-expansion-panel-header expandedHeight="48px">
            <mat-panel-title style="color: white"
              ><mat-icon svgIcon="lab"></mat-icon>
              <span>Lab</span></mat-panel-title
            >
          </mat-expansion-panel-header>
          <precise-profile-general-section
            [section]="sections.labSection"
          ></precise-profile-general-section>
        </mat-expansion-panel>
      </div>
    </mat-accordion>

    <!-- profile confirmation -->
    <div
      *ngIf="!profileConfirmed && store.participantDataLoaded"
      [@fadeEntryExit]
    >
      <precise-profile-confirmation></precise-profile-confirmation>
    </div>
  </div>
  <div *ngIf="store.listDataLoaded && !store.activeParticipant">
    No Participant Profile
  </div>
  <div id="guid" *ngIf="store.activeParticipant">
    {{ store.activeParticipant.f2_guid }}
  </div>
</div>
