<div *mobxReaction="participantUpdated.bind(this)" class="primary page">
  <div
    style="padding: 1em; flex: 1;"
    *ngIf="store.listDataLoaded && store.participantDataLoaded"
  >
    <div id="participantMenu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" backdropClass="backdrop-dark">
        <button
          mat-menu-item
          class="participant-menu-button"
          (click)="store.withdrawParticipant()"
        >
          <mat-icon>remove_circle</mat-icon>
          <span>Withdraw Participant</span>
        </button>
      </mat-menu>
    </div>

    <mat-accordion multi displayMode="flat">
      <!-- profile section -->
      <mat-expansion-panel
        [expanded]="expandedSections.profile"
        class="no-padding"
      >
        <mat-expansion-panel-header expandedHeight="48px">
          <mat-panel-title
            ><mat-icon>person</mat-icon><span>Profile</span></mat-panel-title
          >
        </mat-expansion-panel-header>
        <precise-profile-section
          [participant]="store.activeParticipant"
          [participantRevisions]="participantRevisions"
          [profileConfirmed]="profileConfirmed"
        ></precise-profile-section>
      </mat-expansion-panel>
      <!-- Summary Section -->
      <mat-expansion-panel
        [expanded]="expandedSections.summary"
        class="no-padding"
      >
        <mat-expansion-panel-header expandedHeight="48px">
          <mat-panel-title
            ><mat-icon>assignment</mat-icon
            ><span>Summary</span></mat-panel-title
          >
        </mat-expansion-panel-header>
        <precise-profile-summary-section></precise-profile-summary-section>
      </mat-expansion-panel>

      <ng-container *ngIf="profileConfirmed" @fadeEntryExit>
        <!-- Precise Visit Section -->
        <mat-expansion-panel
          class="no-padding theme-default primary-inverted color-rotate-1"
          expanded
        >
          <mat-expansion-panel-header expandedHeight="48px">
            <mat-panel-title style="color: white;"
              ><mat-icon svgIcon="visit"></mat-icon>
              <span>Precise Visit</span></mat-panel-title
            >
          </mat-expansion-panel-header>
          <precise-profile-general-section
            [section]="sections.preciseVisitSection"
          ></precise-profile-general-section>
        </mat-expansion-panel>
        <!-- Baby section -->

        <!-- TOD - ANC section -->
        <mat-expansion-panel
          class="no-padding theme-default primary-inverted color-rotate-2"
          expanded
        >
          <mat-expansion-panel-header expandedHeight="48px">
            <mat-panel-title style="color: white;"
              ><mat-icon svgIcon="disease"></mat-icon>
              <span>TOD - ANC</span></mat-panel-title
            >
          </mat-expansion-panel-header>
          <precise-profile-general-section
            [section]="sections.todSection"
          ></precise-profile-general-section>
        </mat-expansion-panel>
        <!-- Lab Section -->
        <mat-expansion-panel
          class="no-padding theme-default primary-inverted color-rotate-3"
          expanded
        >
          <mat-expansion-panel-header expandedHeight="48px">
            <mat-panel-title style="color: white;"
              ><mat-icon svgIcon="lab"></mat-icon>
              <span>Lab</span></mat-panel-title
            >
          </mat-expansion-panel-header>
          <precise-profile-general-section
            [section]="sections.labSection"
          ></precise-profile-general-section>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>

    <!-- Add baby section -->
    <section
      class="section-tile"
      id="addBabySection"
      (click)="store.addParticipantBaby()"
      *ngIf="profileConfirmed"
    >
      <mat-icon>add</mat-icon>
      <span>Add Baby</span>
    </section>
    <!-- profile confirmation -->
    <div
      *ngIf="!profileConfirmed && store.participantDataLoaded"
      @fadeEntryExit
    >
      <precise-profile-confirmation></precise-profile-confirmation>
    </div>
  </div>
  <div *ngIf="store.listDataLoaded && !store.activeParticipant">
    No Participant Profile
  </div>
  <div id="guid" *ngIf="store.activeParticipant">
    {{ store.activeParticipant.f2_guid }}
  </div>
</div>
