#participantMenu {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  height: 56px;
  line-height: 56px;
}
.participant-menu-button {
  background: white;
}

#guid {
  font-size: x-small;
  opacity: 0.3;
  text-align: center;
  margin-top: auto;
  padding: 10px;
}

#addBabySection {
  border: 2px dashed;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  background: #f3f3f3;
  color: #8c8c8c;
  cursor: pointer;
  margin-top: 1em;
}
