<div *mobxAutorun style="display: contents">
  <a
    *ngFor="let project of store.projects"
    [routerLink]="['/', 'projects', project.id]"
  >
    <mat-card style="height: 10em">
      <img
        [src]="project.image"
        style="width: 100%; height: 100%; object-fit: contain"
      />
    </mat-card>
  </a>
</div>
<footer>
  <div style="flex: 1"></div>
  <div>
    <button
      routerLink="developer-tools"
      mat-raised-button
      color="accent"
      style="flex: 1"
      *ngIf="enableDevTools"
    >
      Developer Tools
    </button>
  </div>
  <div style="text-align: right; padding: 1em; flex: 1">v{{ APP_VERSION }}</div>
</footer>
