.cdk-overlay-pane > .mat-snack-bar-container {
  max-width: 50vw;
}

/* Specific classes for displaying form popup/overlay content */
.odk-form-popup-panel {
  width: 100vw;
  height: 100vh;
}
.odk-form-popup-panel > mat-dialog-container {
  padding: 0;
}
.backdrop-dark {
  background-color: rgba(0, 0, 0, 0.5);
}
.mat-menu-panel {
  background: white;
}

mat-expansion-panel.no-padding .mat-expansion-panel-body {
  padding: 0;
}
mat-expansion-panel-header.mat-expansion-panel-header {
  padding: 0 10px;
}
mat-panel-title {
  align-items: center;
}
mat-expansion-panel mat-icon {
  margin-right: 10px;
}
